body {
    background-image: linear-gradient(to right, #434343 0%, black 100%);
    font-size: large;
    color: gainsboro;
    margin: auto 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.logo-name{
    font-size:60px;
}

.icons-link{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: space-around;
}

.instagram, .youtube, .twitter, .instagram-personal, .terra-nos, .contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 10rem;
    text-align: center;
}
 
.instagram-img, .youtube-img, .twitter-img, .instagram-personal-img, .terra-img, .contact-img{
    margin: 0;
    width: 3rem;
    border-radius: 30%;
}
.instagram-img:hover, .youtube-img:hover, .twitter-img:hover, .instagram-personal-img:hover, .terra-img:hover, .contact-img:hover{
    width: 4rem;
}
/* AQUI */

.perfil{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.perfil div p{
    margin-left: 1rem;
}

.perfil-img{
    border: 3px solid #434341; 
    border-radius: 10%; 
    box-shadow: 2px 5px #434343;
    
}

.perfil a{
    text-decoration: underline;
    color: aquamarine;
}

.perfil-contact p, .perfil-pix p{
    display: flex;
    align-items: center;
    gap: .5rem;
}
.perfil p img{
    width: 2rem;
    text-align: center;
}
.pix img{
    width: 35px;
    vertical-align:middle;
    border-radius: 15px;
}

h6{
    text-align: center;
    /* vertical-align: bottom; */
    margin: 0px;
    font-family: monospace;
    line-height: .9rem;
}

a{
    color: white;
    text-decoration: none;
}
a:hover{
    font-size: medium;
}

@media screen and (max-width: 320px) {
    body{
        background:#434343;
    }
}

@media screen and (max-width: 520px) {
    body{
        /* background:#434343; */
        display: block;
        margin: 0 1rem;
    }
    .logo, .logo-name{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 2rem;
        /* text-transform: uppercase; */
    }
}